[flake8]
# Directories/files to exclude.
exclude =
    # No need to traverse our Git directory.
    .git,
    # There's no value in checking cache directories.
    __pycache__,
    # This contains builds that we don't want to check.
    build,
    dist,
    # Exclude virtual environments.
    venv*,
    todo,
# Custom limit.
max_line_length = 160
