# Ensure that we always test against the latest versions
# as soon as they get released by pinning them here and
# letting `dependabot` update them for new releases.
scancode-toolkit==32.3.1
typecode-libmagic==5.39.210531
joblib==1.4.2
fontTools[woff]==4.55.3
pip-licenses-lib==0.5.0
rpmfile==2.1.0
requests==2.32.3
tomli==2.2.1
