# Ensure that we always test against the latest versions
# as soon as they get released by pinning them here and
# letting `dependabot` update them for new releases.
scancode-toolkit==32.1.0
typecode-libmagic==5.39.210531
joblib==1.3.2
fontTools[woff]==4.50.0
pip-licenses-lib==0.2.1
rpmfile==2.0.0
requests==2.31.0
