name: CI

on:
- push
- pull_request
- workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test with Python ${{ matrix.python }}
    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v6
      - name: setup test environment
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: update apt
        run:
          sudo apt-get update
      - name: install apt packages
        run: |
          sudo apt-get update
          sudo apt-get install -y libimage-exiftool-perl gettext
      - name: install pip
        run:
          python -m pip install --upgrade pip wheel
      - name: install package
        run:
          python -m pip install .[dev,extended_rpm]
      - name: test
        run: 
          coverage run -m unittest discover --verbose --start-directory tests/
      - name: coverage report
        run: |
          coverage combine
          coverage report
      - name: lint
        run:
          flake8
      - name: mypy
        run:
          mypy
      # Enable after https://github.com/codespell-project/codespell/issues/3387 and
      # https://github.com/codespell-project/codespell/issues/3381 are resolved.
#      - name: codespell
#        run:
#          codespell
